# Python cache folder
__pycache__/

# API key fail
redcap_api_key

# Sisselogimise data fail
login_data.py

#Build failid
build/
dist/
ehl_assistant.spec
dist_linux/
dist_windows/

# Logifailid
ehl_log.txt

# VSCode
.vscode/

# Mypy
.mypy_cache
